@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-light: #ffffff;
  --color-background-dark: #000000;
  --color-text-light: #000000;
  --color-text-dark: #ffffff;
  --color-primary-light: #ed8936;
  --color-primary-dark: #ed8936;
  --color-hover-light: #e53e3e;
  --color-hover-dark: #e53e3e;
}

body.light {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
  --color-primary: var(--color-primary-light);
  --color-hover: var(--color-hover-light);
}

body.dark {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
  --color-primary: var(--color-primary-dark);
  --color-hover: var(--color-hover-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
